.App {
  background-color: var(--va-bg-light-color);
  color: var(--va-text-dark-color);
  min-height: 100vh;
}

header {
  padding-top: 1.5rem;
}

header > .title {
  font-size: 2.25rem;
  text-align: center;
}
